export VIRTUAL_ENV=".venv"

# Create a venv if one doesn't exist
if [[ ! -d $VIRTUAL_ENV ]]; then
  python3 -m venv "$VIRTUAL_ENV"
fi

# Activate the environment
PATH_add "$VIRTUAL_ENV/bin"

# Install the packages if they are not already installed
if ! python -c "import bibtexparser" 2>/dev/null; then
  pip install bibtexparser
fi
